---
const {
  label,
  type = 'text',
  required = false,
  maxlength,
  class: className,
  placeholder,
} = Astro.props;

const inputOrTextArea = type === 'textarea' ? 'textarea' : 'input';
const identifier = label.toLowerCase().replace(/\s+/, '-');
const labelClasses = [
  'label',
  required ? 'label--required' : '',
  className ? className : '',
]
  .filter(Boolean)
  .join(' ');
---

<label for={identifier} class="relative block text-primary w-full">
  {
    inputOrTextArea === 'textarea' ? (
      <textarea
        class="peer w-full rounded border-none bg-surface px-4 py-3 text-primary ring-1 ring-inset ring-gray-600 placeholder:text-transparent placeholder-shown:placeholder:text-secondary focus:ring-2 focus:ring-inset focus:ring-primary"
        cols={Astro.props.cols || 33}
        id={identifier}
        name={identifier}
        required={required}
        rows={Astro.props.rows || 5}
        placeholder={placeholder}
      />
    ) : (
      <input
        class="peer w-full flex-1 rounded border-none bg-surface px-4 py-3 text-primary ring-1 ring-inset ring-gray-600 placeholder:text-transparent placeholder-shown:placeholder:text-secondary focus:ring-2 focus:ring-inset focus:ring-primary"
        id={identifier}
        maxlength={maxlength}
        name={identifier}
        required={required}
        type={type}
        value={Astro.props.value || ''}
        placeholder={placeholder}
      />
    )
  }
  <span
    class="pointer-events-none absolute left-0 top-2 origin-left -translate-y-8 scale-75 opacity-100 transition-all duration-200 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:opacity-0"
    >{label}</span
  >
</label>
